@import "tailwindcss";

@theme {
  /* navbar */
  --color-primary: #fff7ed;
  /* footer background */
  --color-footer-bg: #252525;
  /* text color navbar*/
  --color-nav-text: #334155;

  /* text color:hover */
  --color-nav-text-hover: #161616;

  /* Define Inter as the default sans-serif font family */
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
